<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengram3.feed.FeedMapper">
    <insert id="postFeed" useGeneratedKeys="true" keyProperty="ifeed">
        INSERT INTO t_feed
        <set>
            iuser=#{iuser}
            ,   contents=#{contents}
            ,   location=#{location}
        </set>
    </insert>
    <select id="selFeedAll">
        SELECT A.ifeed,contents,A.location,A.created_at AS createdAt
        ,B.iuser AS writerIuser,B.nm AS writerNm,B.pic AS writerPic,
        if(C.iuser IS NULL,0,1) AS isFav, C.iuser
        FROM t_feed AS A
        JOIN t_user AS B
        ON A.iuser=B.iuser
        LEFT JOIN t_feed_fav AS C
        ON A.ifeed=C.ifeed AND C.iuser=#{loginedIuser}
        ORDER BY A.ifeed DESC
        LIMIT #{startIdx},#{rowCount}
    </select>
</mapper>